.error-summary,
.help-block-error {
  color: #e63331;
}
.alert-danger.in,
.alert-success.in,
.alert-warning.in {
  opacity: 1;
}
.articleContent img {
  height: auto;
}
.hidden {
  display: none;
}
.bottom10 {
  margin-bottom: 10px;
}
.top10 {
  margin-top: 10px;
}
.bottom25 {
  margin-bottom: 25px;
}
.top25 {
  margin-top: 25px;
}
.agentList {
  text-align: center;
}
.agentList .agentName {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1em;
  padding: 20px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.file-uplad img {
  max-height: 140px;
}
.pagination .disabled {
  display: none;
}
.pagination .page.active .pagination__item {
  background: #be66d6;
  position: relative;
  color: #ffffff !important;
  -webkit-filter: drop-shadow(0.766px 0.643px 0.5px rgba(66, 44, 183, 0.3));
  filter: drop-shadow(0.766px 0.643px 0.5px rgba(66, 44, 183, 0.3));
}
.menu__logo {
  max-width: 75%;
}
.companies--wide .company__logo {
  height: 120px;
}
.dashboard-wrapper .form-wrapper .contact-form .input {
  margin-bottom: 0;
}
.dashboard-wrapper .form-wrapper .contact-form .help-block {
  margin-bottom: 25px;
}
.service .description p {
  margin-bottom: 0;
}
.rating-container {
  display: inline-block;
}
.rating-container.rating-disabled .rating__star {
  cursor: initial;
}
.rating-input {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  font-size: 1px;
  border: none;
  background: none;
  opacity: 0;
  padding: 0;
  margin: 0;
}
.file-uplad {
  position: relative;
}
.deleteLink {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.inline-block {
  display: inline-block;
}
.position-relative {
  position: relative;
}
.rating-container .filled-stars {
  -webkit-text-stroke: initial;
  text-shadow: none;
}
.rating__star {
  color: #e8d5a0;
}
.rating__star--active,
.rating__star:hover {
  color: #D4AF37;
}
.btn {
  margin-bottom: 15px;
}
.btn + .btn {
  margin-left: 0;
}
.company-wrapper .single-company__image {
  height: auto;
}
@media (max-width: 991px) {
  .about-wrapper::before {
    display: none;
  }
}
@media (min-width: 992px) {
  .menu-vertical--closed {
    margin-left: 0;
  }
}
