.error-summary,
.help-block-error {
  color: #e63331;
}
.alert-danger.in,
.alert-success.in,
.alert-warning.in {
  opacity: 1;
}
.articleContent img {
  height: auto;
}
.hidden {
  display: none;
}
.bottom10 {
  margin-bottom: 10px;
}
.top10 {
  margin-top: 10px;
}
.agentList {
  text-align: center;
}
.agentList .agentName {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1em;
  padding: 20px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.search-results .companies--wide .company__content {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
